@using EntityLayer.Models
@model StudentCourseInf

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var UserList = ViewBag.UserList as List<User>;
    var CourseList = ViewBag.CourseList as List<Course>;
}



<div class="row">
    <div class="col-lg-9">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Öğrenci Ders Güncelleme</h5>
                <form class="row g-3 needs-validation" novalidate>

                    <input type="hidden" id="UserIdValue" value="@Model.UserId" />
                    <div class="col-md-12 row mb-3">
                        <div class="col-md-6 row mb-3">
                            <label for="inputText" class="col-sm-3 col-form-label">Öğrenci</label>
                            <div class="col-sm-9">
                                <select class="form-select" style="font-size:13px" id="UserId" name="UserId">
                                    <option Selected>Lütfen Öğrenci Seçiniz</option>
                                    @foreach (var itm in UserList)
                                    {
                                        <option value="@itm.Id">@itm.Name @itm.Surname</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" id="Id" value="@Model.Id" />
                    <input type="hidden" id="CourseIdValue" value="@Model.CourseId" />
                    <div class="col-md-12 row mb-3">
                        <div class="col-md-6 row mb-3">
                            <label for="inputText" class="col-sm-3 col-form-label">Ders</label>
                            <div class="col-sm-9">
                                <select class="form-select" style="font-size:13px" id="CourseId" name="CourseId">
                                    <option Selected>Lütfen Ders Seçiniz</option>
                                    @foreach (var itm in CourseList)
                                    {
                                        <option value="@itm.Id">@itm.CourseCode - @itm.CourseName</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>




                    <br />
                    <br />
                    <div style="text-align: right !important; margin-right:15px;">
                        <a type="submit" class="btn btn-sm btn-primary" style="color:white;" id="editCourse">Kaydet</a>

                    </div>
                  
                </form>
            </div>
        </div>

    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $('document').ready(function () {
        $(function () {
            var uvalue = $("#UserIdValue").val();
            document.getElementById("UserId").value = uvalue;

            var cvalue = $("#CourseIdValue").val();
            document.getElementById("CourseId").value = cvalue;
        });
    });
    $('#editCourse').on('click', function () {

        if ($("#UserId").val() == "Lütfen Kullanıcı Seçiniz") {
            alert("Lütfen Kullanıcı seçimi Yapınız");
            return false;
        }
        else if ($("#CourseId").val() == "Lütfen Ders Seçiniz") {
            alert("Lütfen Ders seçimi Yapınız");
            return false;
        }
        var Id = $("#Id").val();
        var model = {};
        model = {
            CourseId: $("#CourseId").val(),
            UserId: $("#UserId").val(),
            Id:Id,
        }

        $.ajax({
            url: "/usercourse/edit",
            type: 'post',
            data: { data: model },

           
            success: function (response) {
                if (response == 1) {

                    alert("Öğrenci Ders güncelleme işlemi başarılı.");
                    setTimeout(yonlendir, 3000);
                }
                else if (response == 0) {
                    alert("Ders güncelleme işleminde hata! Öğrenci Daha önce bu dersi eklemiş.");
                }


            },
            error: function (errMsg) {

              
                return false;
            }
        });

    });
    function yonlendir() {
        window.location.href = "/usercourse/index";
    }
</script>
